<div class="container-fluid">

  <h1 class="text-center mt-3">Your Booked Rooms</h1>
<div class="container-booking">

  <div class="row">
    <div class="col">
      <% @bookings.each do |booking| %>

      <div class="row booking-li"> <!-- inner row-->


      <div class="show-banner">
            <% if booking.room.photo.attached? %>
            <%= cl_image_tag @room.photo.key, class: "d-block w-100 rounded mt-3 mx-auto", width: 300, height: 400, crop: :fill %>
            <% else %>
            <%= image_tag "No_image_available", class: "d-block w-100 rounded mt-3  mx-auto", width: 300, height: 400, crop: :fill %>
            <% end %>
      </div>



          <div class="col-sm-4 col-sm-4">
            <h3><%= booking.room.name %></h3>
            <p>City: <strong><%= booking.room.city %></strong></p>
            <p>Address: <strong><%= booking.room.street %></strong></p>
            <p>Period: <strong> <%= booking.start_date.strftime("%a, %e %b %Y") %> - <%= booking.end_date.strftime("%a, %e %b %Y") %></strong></p>
            <p>Guests: <strong><%= booking.guest_nr %></strong></p>
            <p>Total price: <strong>£ <%= booking.price %> </strong></p>
          </div>




          <div class="col-sm-4 col-md-4" >
            <div class="list-unstyled hidden-sm hidden-xs padded">
                <% if booking.status == 'Pending' %>
                  <p class="text-center">Confirmation <strong class="text-warning">Pending</strong></p>
                  <p class="text-center"><%= link_to "Delete this booking", booking_path(booking), method: :delete, class:"btn btn-outline-danger", data: {confirm: "Are you sure"} %></p>
                <% else %>
                  <p class="text-center">Booking <strong class="text-success">Confirmed</strong></p>
                  <p class="text-center"> <%= mail_to booking.room.user.email, "Email owner to cancel", target: :_blank %></p>
                <% end %>
              </div>
          </div>

        </div> <!-- end inner row -->
      <% end %>

   </div>  <!--  end col-->
  </div> <!-- end row -->
</div> <!-- container-booking -->

</div>