<div class="main-container" >

   <div class="show-room">

    <% if @booking.room.photo.attached? %>
      <%= cl_image_tag(@booking.room.photo.key, width: 520, height: 400, crop: :fill, class: "mt-3")   %>
    <% else %>
      <%= image_tag("no_image_available", width: 520, height: 400, crop: :fill, class: "mt-3") %>
    <% end %>

  </div>

  <div class="show-room pt-3 mt-3">
    <div class="text-center">
      <p>You have booked: </p> 
      <p><%= @booking.room.name %> 

    <table class="table table-borderless">  
       <tr>
         <td>from</td>
         <td> <%= @booking.start_date %></td>
      </tr>
      <tr >
         <td>to</td>
         <td> <%= @booking.end_date %></td>     
      </tr>
    
    </table>

  <br>
    <p>click below to see your other bookings: </p>
    <p>  <%= link_to "Bookings", bookings_path, class: "btn btn-warning pt-2 mb-3 mt-3" %> </p> 
  </div>  <!-- text-center -->
    </div>
   </div>   