<div class="container-fluid mt-5">
  <div class="row">

    <% if booking.room.photo.attached? %>
      <%= cl_image_tag room.photo.key, class: "d-block w-100 rounded mt-3 mx-auto", width: 300, height: 400, crop: :fill %>
    <% else %>
      <%= image_tag "No_image_available", class: "d-block w-100 rounded mt-3  mx-auto", width: 300, height: 400, crop: :fill %>
    <% end %>

    <div class="text-center">
      <p>You have just booked <%= @booking.room.name %> from <%= @booking.start_date %> 
  to   <%= @booking.end_date %> pending confirmation from owner.</p>

  <br>
    <p>click here to see a list of your bookings: </p>
    <p>  <%= link_to "Bookings", bookings_path, class: "btn btn-warning pt-2 mb-3 mt-3" %> </p> 
    </div>
   </div>   