<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url('assets/background1.jpg'); ">
  <div class="banner-content">
    <h1>FIND A ROOM</h1>
    <p>For work or vacation. Find a place to stay! </p>

  </div>
</div>

<h3 class = "text-center mb-3">Check out our recently added rooms. </h3>

<div class="container mt-3">
  <div class="row">
        <% @rooms.each do |room| %>

          <div class="col-sm-6 col-md-4 col-lg-3">
            <%= link_to room_path(room) do %>
              <div class="cardContainer">
                

      <% if room.photo.attached? %>
       <%= cl_image_tag room.photo.key, class: "d-block w-00 rounded mt-3", width: 520, height: 400, crop: :fill %>
      <% else %>
      <%= image_tag "No_image_available", class: "d-block w-100 rounded mt-3", width: 520, height: 400, crop: :fill %>
      <% end %>



                <div class="card-body">
                    <h4 class="card-title"><%= room.name %></h4>
                    <p class="card-text"> <%= room.city %></p>
                    
                    <p class="card-trip-pricing">€<%=  number_with_precision(room.price, precision: 2) %>/night</p>
                </div>     
              </div>
            <% end %>
          </div>
        <% end %> 
    </div>
  </div>

</div>