<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url('assets/background1.jpg'); ">
  <div class="banner-content">
    <h1>FIND A ROOM</h1>
    <p>For work or vacation. Find a place to stay! </p>

  </div>
</div>

<h3 class = "text-center mb-3">Check out our recently added rooms. </h3>

<div class="container mt-3">
  <div class="row">
   <% @rooms.each do |room| %>
    <div class="col-xs-12 col-md-6  ">

      <div class="cardContainer ">
        <%= link_to room_path(room) do %>
        
          <div class="card-image">
            <% if room.photo.attached? %>
              <%= cl_image_tag room.photo.key, height: "50%", style: "object-fit: cover" %>
            <% else %>
              <%= image_tag "no_image_available", height: "50%",  style: "object-fit: cover" %>
            <% end %>

            <div class="card-index">
              <div class="ml-4">
                <h4 class="card-title"><%= room.name %></h4>
                <p class="card-text"> <%= room.city %></p>
                <p class="card-trip-pricing">£<%=  number_with_precision(room.price, precision: 2) %>/night</p>
              </div>
            </div>

          </div>
          
        <% end %>  
      </div>  <!-- cardContainer -->
    </div>
  <% end %> 
    </div>
  </div>

</div>