<div class="container-fluid mt-3">
  <div class="row">
<!-- left half of page-->  
    <div class="col-md-8">

     <div class="row">

      <% @rooms.each do |room| %>
        <div class="col-xs-12 col-md-6  ">


          <div class="cardContainer ">
            <%= link_to room_path(room) do %>
        
              <div class="card-image">
                <% if room.photo.attached? %>
                  <%= cl_image_tag room.photo.key, height: "50%" %>
                <% else %>
                  <%= image_tag "no_image_available", height: "50%" %>
                <% end %>

              <div class="card-index">
                  <h4 class="card-title"><%= room.name %></h4>
                  <p class="card-text"> <%= room.city %></p>
                  <p class="card-trip-pricing">£<%=  number_with_precision(room.price, precision: 2) %>/night</p>
                </div>

              </div>
          

        <% end %>   
  
           </div>  <!-- end cardContainer -->
         
        </div>  <!-- end of xs-12 -->

      <% end %> 
  </div>  <!-- end of inner row -->

  </div>    <!-- end of sm-8-->
  
  <div class="col-md-4">
    <div class="map-container mt-2" >
        <div id="map"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>  
    </div>  <!-- map container end-->
  </div>  <!-- col-sm-4 end  -->

 </div>  <!---end of row -->
</div>   <!-- cont-fluid -->
