<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">

 <%= simple_form_for @room, url: rooms_path(@room) do |f| %>
     <%= f.input :name, as: :string, required: true %>
     <%= f.input :description, as: :string, required: true %>
     <%= f.input :price, as: :decimal, required: true %>
     <%= f.input :street, as: :string, required: true %>
     <%= f.input :city, as: :string, required: true %>
     <%= f.input :guest_nr, as: :integer, required: true, label: "Number of Guests" %>
     <%= f.input :photo, as: :string, required: false %>
    <%= f.button :submit ,"Book", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>


