<div class="container-booking mt-4">
  <div class="row">
    <div class="col">


        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col ">Name</th>
                <th scope="col">Street</th>
                <th scope="col">City</th>
              </tr>
            </thead>

          <tbody>
              <% @rooms.each do |room| %>

            <tr>
              <td>
               <%= link_to  room.name, dashboard_path(room) %>
              
              </td>

              <td>
                <%= room.street %>
              </td>
              <td>
                <%= room.city %>
              </td>
              <td>
                <%= link_to  edit_room_path(room), class: "text-success" do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              </td>
              <td>
                <%= link_to  room_path(room), method: :delete,  data: {confirm: "Are you sure"}, class: "text-dark" do  %>      
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
              <% end %>
          </tbody>

        </table>
            
        </div>

     </div>
  </div>
</div>

 
 