<div class="main-container" >

  <div class="show-room">
    <% if @room.photo.attached? %>
      <%= cl_image_tag(@room.photo.key, width: 520, height: 400, crop: :fill)   %>
    <% else %>
      <%= image_tag("no_image_available", width: 520, height: 400, crop: :fill) %>
      <% end %>
  </div>

  <div class="show-room pt-3 mt-3">
    <div class="text-center">
      <h2 class="text-center mt-3"><%= @room.name %></h2>

      <div class="pl-3">
        <p><%= @room.description %> </p>
        <p><%= @room.street %>, <%= @room.city %></p>
        <p>Guests: <%= @room.guest_nr %> &nbsp;&nbsp;&nbsp;&nbsp;     £<%=  number_with_precision(@room.price, precision: 2) %>  </p>
            <p><%= link_to dashboards_path do %> 
          <i class="fas fa-2x fa-arrow-circle-left text-primary"></i>
          <% end %>
        </p>
      </div>
    </div>  <!-- text-center -->
  </div> <!-- show-room -->
</div>  <!-- end container -->
